<div class="col-md-4 col-sm-6">
    <div class="py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="card">
                    <div class="card-body dark:text-white">
                        {% if message.image %}
                            <img src="{{ asset(message.image) }}" alt="Image du message" class="rounded-xl shadow mb-4">
                        {% endif %}
                        <h5 class="card-title">{{ message.content }}</h5>
                        <small class="text-muted">
                            {% if app.user %}
                            Rédigé par : {{ message.author.email }} -
                            {% endif %}
                            le {{ message.createdAt | date('d/m/Y') }}
                        </small>
                        <a href="{{ path('messages_message', {'id': message.id}) }}" class="mt-4 w-full block text-center py-2 bg-primaryBlue text-white font-bold rounded-xl shadow-md hover:bg-primaryGreen transition">
                            Voir plus
                        </a>

                    </div>
                </div>
            </div> 
        </div> 
    </div> 
</div> 